PAYSTACK_SECRET_KEY=sk_test_b3fe3982ce64efe0c952b59b63c8020d4dbff33b
FRONTEND_URL=smtp-relay.brevo.com
SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_USER=b08ed8001@smtp-brevo.com
SMTP_PASS=xsm tpsib-f18c182fc6d0dd0a0fa48c3a24d7e05cd613a290011b32a68e48f715a8d0f360-xrzSfMWxvuazgWe8
MAIL_FROM="Your Course` <you@yourdomain.com>"
;